/* Schriftart importieren */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Header Stil */
header {
    background: linear-gradient(45deg, #cfa73b, #3587bd, #efecec, #f3f0f0, #333);
    background-size: 300% 300%;
    color: rgb(240, 238, 238);
    display: flex;
    justify-content: space-between; /* Abstand zwischen Logo und Text */
    align-items: center;
    padding: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    animation: gradientAnimation 10s ease infinite;
    font-family: 'Poppins', sans-serif;
}

/* Gradient Animation */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Container für Logo */
#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px; /* Abstand zwischen Logo und Text */
}

/* Stil für Logo */
.logo-image {
    width: 300px; /* Größere Dimension für maximale Sichtbarkeit */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    border-radius: 20px; /* Abgerundete Ecken für einen modernen Look */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sanfter Schatten für besseren Kontrast */
}

/* Stil für Text */
#company-text {
    color: #003366; /* Elegantes Blau für den Text */
    text-align: left;
    max-width: 600px; /* Maximale Breite für den Text */
    margin: 0 auto; /* Zentriert den Text */
    font-size: 1.5rem;
    line-height: 2; /* Erhöhter Zeilenabstand für bessere Lesbarkeit */
}

#company-text h1 {
    font-size: 3rem; /* Große Schriftgröße für den Titel */
    color: #002d62; /* Dunkelblau für den Titel */
    margin-bottom: 15px; /* Abstand unter dem Titel */
}

#company-text p {
    margin: 10px 0; /* Abstand zwischen den Absätzen */
    font-size: 1.2rem; /* Textgröße für den normalen Text */
    color: #003366; /* Konsistente Textfarbe */
}

/* Flexbox für den Header-Inhalt */
.header-content {
    display: flex;
    justify-content: space-between; /* Abstand zwischen Logo und Text */
    align-items: center;
    width: 100%;
}

/* Responsivität für kleinere Bildschirme */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Elemente untereinander auf kleineren Bildschirmen */
        padding: 20px;
        text-align: center;
    }

    #logo-container {
        margin-bottom: 20px;
    }

    .logo-image {
        width: 250px; /* Größere Logo-Größe auf mobilen Geräten */
    }

    #company-text {
        text-align: center;
    }

    #company-text h1 {
        font-size: 2.5rem; /* Kleinere Schriftgröße für den Titel */
    }

    #company-text p {
        font-size: 1rem; /* Kleinere Schriftgröße für den Text */
    }
}
