/* Stiluri globale pentru a face pagina mai lungă */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Se asigură că pagina va fi întotdeauna de cel puțin înălțimea ecranului */
}

h2 {
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.additional-content {
  padding: 40px;
  background-color: #f4f4f4;
  margin-top: 20px;  /* Separă această secțiune de celelalte */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 40px; /* Mai mult spațiu la final */
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
